{% extends "base.html" %}
{% load static %}

{% block title %}Categories{% endblock title %}

        {% block header %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/post-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Category's List</h1>
                            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on August 24, 2023
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}
        <!-- Post Content-->
        {% block contents %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for record in object_list %}
                    <div class="post-preview">
                        <a href="{% url "blog:blog_cat" record.pk %}">
                            <h2 class="post-title">{{ record.title }}</h2>
                        </a>
                        <p class="post-meta">
                            post
                            ({{ record.count }})

                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        {% endblock contents %}
