<style>
    body {
        background-color: rgb(52, 58, 64)!important;
    }
    p {
        color: white;
    }
</style>
{% extends "base.html" %}

{% block title %}Post{% endblock title %}
        {% block contents %}
        <div class="container" style="background-color: rgb(52, 58, 64);">
            <div class="row" style="margin-top: 160px;">

                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">投稿する</button>
                </form>
            </div>
        </div>

        {% endblock contents %}
